@import url('../fonts/main.css');
@import url('../fonts/script.css');
@import url('../fonts/cormorant.css');
$roboto: 'Roboto Condensed', sans-serif;
$myriad: 'Open Sans', sans-serif;
$marck: 'Marck Script', cursive;
$cormorant: 'Cormorant Garamond', cursive;