.header{
	margin: 0 auto;
	padding-bottom: 140px;
	width: 100%;
	background-color: $white;
}
.header_wrapper-1{
	position: fixed;
	z-index: 60;
	left: 0;
	right: 0;
	margin: 0 auto;
	width: 100%;
	max-width: 1600px;
	background-color: $white;
	box-shadow: 0px 0px 23px -4px rgba(0, 0, 0, 0.4);
}
.header_menu-wrapper{
	background-color: $white;
	padding: 10px 0;
}
.header_contacts{
	height: 40px;
	@include flex;
	justify-content: flex-end;
	align-items: center;
	background-color: $white;
	border-bottom: 1px solid #e8e8e8;
	transition-delay: 0.25s;
	font-size: 14px;
	color: #767676;
	letter-spacing: 0.4px;
	text-decoration: none;
	font-family: "Open Sans", sans-serif;
	padding-bottom: 2px;
}
.header_contacts-num1{
	display: inline-block;
	position: relative;
	margin-left: 50px;
	&::before{
		content: "";
		display: block;
		height: 18px;
		width: 18px;
		top: -1px;
		left: -25px;
		position: absolute;
		background-image: url('../img/ic_phone_black_18px.svg');
	}
}
.header_contacts-email{
	display: inline-block;	
	display: block;
	position: relative;
	margin-left: 40px;
	&::before{
		content: "";
		display: block;
		height: 18px;
		width: 18px;
		top: -1px;
		left: -25px;
		position: absolute;
		background-image: url('../img/ic_email_black_18px.svg');
	}
}
.header_logo{
	display: inline-block;
	height: 60px;
	margin: 20px;
	img{
		width: 100%;
		height: auto;
	}
}
.header_menu-desktop{
	width: 100%;
	height: 60px;
	background-color: rgb(255,255,255);
	@include flex;
	justify-content: space-between;
	align-items: center;
	font-size: 16px;
	text-transform: uppercase;
	color: $black;
}
.header_menu{
	width: 100%;
	@include flex;
	justify-content: space-around;
	align-items: center;
	text-align: unset;
}
.scroll{
	.header_contacts{
	  visibility: hidden;
	  transition: 0s;
	}
	.header_menu-wrapper{
		margin-top: -40px;
		transition: 0.5s;
		padding: 0;
	}
	.header_logo{
		height: 50px;
		transition: 0.5s;
	}
}
.header_menumobile-only{
	display: none;
}

// HAMBURGER BUTTON
#button_menu .hamburger-icon-btn {
	position: relative;
	overflow: hidden;
	top: 0;
	margin: 0;
	padding: 0;
	width: 72px;
	height: 72px;
	font-size: 0;
	z-index: 80;
	text-indent: -9999px;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	box-shadow: none;
	border-radius: none;
	border: none;
	cursor: pointer;
	background: transparent;
	-webkit-transition: background 0.3s;
	transition: background 0.3s;
  }
#button_menu .hamburger-icon-btn:focus {
	outline: none;
  }
  
  #button_menu .span_hamburger {
	display: block;
	position: absolute;
	top: 33px;
	left: 10px;
	right: 10px;
	height: 5px;
	color: black;
	background: $black;
  }
  
  #button_menu .span_hamburger:before,
  #button_menu .span_hamburger:after {
	position: absolute;
	display: block;
	left: 0;
	width: 100%;
	height: 5px;
	background-color: $black;
	content: "";
  }
  
  #button_menu .span_hamburger:before {
	top: -16px;
  }
  
  #button_menu .span_hamburger:after {
	bottom: -16px;
  }
  
  #button_menu .span_hamburger {
	-webkit-transition: -webkit-transform 0.3s, background-color 0.3s;
	transition: transform 0.3s, background-color 0.3s;
  }
  
  #button_menu .span_hamburger:before {
	-webkit-transition: -webkit-transform 0.3s, top 0.3s;
	transition: transform 0.3s, top 0.3s;
  }
  
  #button_menu .span_hamburger:after {
	-webkit-transition: -webkit-transform 0.3s, bottom 0.3s;
	transition: transform 0.3s, bottom 0.3s;
  }
  
  #button_menu .span_hamburger.active {
	background-color: $white;
  }
  
  #button_menu .span_hamburger.active::before {
	top: 0;
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
	background-color: $black;
  
  }
  
  #button_menu .span_hamburger.active::after {
	bottom: 0;
	-webkit-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	transform: rotate(-45deg);
	background-color: $black;
  }
  // END OF HAMBURGER BUTTON

  @media (max-width:549px){
	.header_contacts-email{
		display: none;
	}
	.header_menu-desktop{
		height: 50%;
		padding: 0 10px;
		flex-direction: column;
	}
	.header_menumobile-only{
		display: block;
	}
	.header_logo-allways{
		order: 1;
		width: 100%;
		display: flex;
		justify-content: space-between;
		align-items: center;
		list-style: none;
	}
	.header_menu{
		display: none;
		order: 2;
		flex-direction: column;
		text-transform: uppercase;
		font-size: 30px;
		text-align: left;
		margin-bottom: -10px;
		&:first-of-type{
			margin-bottom: -10px;
		}
		&:last-of-type{
			margin-bottom: 10px;
		}
		li{
			margin: 10px 0;
		}
	}
	.header_logo{
		margin: 0;
	}
}