.news_wrapper{
    @include flex;
    justify-content: center;
    flex-wrap: wrap;
}
.page-news_wrapper{
    @include flex;
    justify-content: center;
    flex-wrap: wrap;
}
.news_single{
    display: block;
    margin: 0 10px 30px;
    padding: 10px 20px 20px;
    background-color: $white;
    box-shadow: 0px 0px 23px -4px rgba(0,0,0,0.4);
    box-sizing: border-box;
    width: calc(100% - 20px);
    max-width: 360px;
    text-decoration: none;
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    &:hover{
        box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
        color: #191919;
    }
}
.news-single_img {
    // max-width: calc(100% - 20px);
    width: 100%;
    max-height: 227px;
    vertical-align: middle;
    border: 0;
    box-sizing: border-box;
    overflow: hidden;
}
.news-single_date {
    margin: 10px 0;
    box-sizing: border-box;
    font-size: 12px;
    text-align: left;
}
.news_title{
    margin: 10px 0;
    &::before{
        content: none;
    }
}
.news_content{
    text-align: left;
}
.news-title_img{
    width: auto;
    max-width: 100%;
    max-height: 60vh;
}
.content{
    text-align: left;
    a{
        display: inline;
        color: #e40105;
        &:hover{
            cursor: pointer;
            color: $light_brown;
        }
    }
    p{
        margin: 0 0 10px 0;
        line-height: 24px;
        // text-indent: 40px;
    }
    ul{
        margin: 0 0 10px 0;
        padding: 0 0 0 5px;
        line-height: 24px;
        & li{
            margin: 5px 0;
        }
        & li:before {
            content:  "-";
            position: relative;
            left:     -5px;
        }
    }
    ol{
        margin: 0 0 10px 0;
        list-style-type: decimal;
        line-height: 24px;
        padding: 0 0 0 20px;
    }
    iframe{
        max-width: 100%;
    }
    .alignleft{
        float: left;
        margin-right: 10px;
    }
    .alignright{
        float: right;
        margin-left: 10px;
    }
}

@media (min-width: 1200px){
    .news_wrapper{
        justify-content: space-between;
    }
}