.partners_img-container{
    position: relative;
    max-width: 100%;
    overflow: hidden;
}
.partners-title-container{
    margin: 0 auto;
    position: absolute;
    top:35%;
    width: 100%;
}
.partners-title{
    color: white;
    margin: 0 auto;
}