$dark_green: rgb(34,102,0);
$light_green: rgb(85,153,17);
$red: rgb(204,34,17);
$dark_red: rgb(155, 4, 14);
$white: rgb(255,255,255);
$silver: rgba(0,0,0,0.24);
$gray: rgb(35,35,35);
$black: rgb(25,25,25);
$light_brown: rgb(155,133,121);

$red_transparent: rgba(204,34,17,.2);
$light_green_transparent: rgba(85,153,17,.5);
$light_gray_transparent: rgba(221,221,204,.3)
