@import 'fonts', 'mixins', 'variables', 'rules';

@import 'about-us',
'contacts',
'section_programs',
'style',
'header',
'flags', 
'education_types', 
'footer',
'library',
'page-programs', 
'skype_lessons', 
'learning', 
'test',
'modal';
